<!DOCTYPE html>
<html>
    <head>
        <title>Perguntas Frequentes GOV ES</title>
    </head>

    <body>
        <form method="GET">
            <input type="text" name="busca" placeholder="Buscar palavra">
            <button type="submit" class="btn btn-primary">
                Buscar
            </button>
        </form>
        {% for questao in questoes %}

        <p>{{questao.descricao}}</p>
        <p>{{questao.resposta}}</p>
        <a href="{{questao.links}}"> Link </a>

        {% endfor %}

    </body>
</html>
