{% extends 'base.html'%}

{%block title%}
IntegraES
{%endblock%}

{% block content %}
<div class="container">
  <header>
    <div class="primary_header">
      <div class="banner">
        
        <div class="logo"><img
          src="https://cdn.es.gov.br/images/logo/prodest/logomarca/left/Logomarca_Prodest_100.png"/>
        </div>
        <h1 class="title">&nbsp;&nbsp;&nbsp;HACKATON-PRODEST&nbsp;&nbsp;&nbsp;</h1>
      </div>  
    </div>

    <nav class="secondary_header" id="menu">
      <ul>
        <a href="#"><li>SOBRE NÓS</li></a>
        <a href="#"><li>PESQUISA</li></a>
        <a href="#"><li>SUGESTÕES</li></a>
        <a href="http://127.0.0.1:8000/admin"><li>ADMINISTRAÇÃO</li></a>
      </ul>
    </nav>
  </header>
        
  <div class="row blockDisplay">

    <div class="column_half right_half">
      <h2 class="column_title">ORIENTAÇÕES AO CIDADÃO</h2>
    </div>
      
    <div class="column_half right_half">
      <h2 class="column_title">NOVIDADES NO ESTADO</h2>
    </div>
    <div class="row">
    <div class="right_article">


            <button class="accordion">Saúde</button>

            <div class="panel">
            {%for questao in questoes%} 
            {%if questao.area_interesse.id == 1 %}
              <p><a href="{{questao.link}}" target="_blank">{{questao.descricao}}</a></p>
            {% endif %}
            {% endfor %}
            </div>

            <button class="accordion">Prodest</button>
            <div class="panel">
                {%for questao in questoes%} 
                {%if questao.area_interesse.id == 2  %}
                  <p><a href="{{questao.link}}" target="_blank">{{questao.descricao}}</a></p>
                {% endif %}
                {% endfor %}            
            </div>

            <button class="accordion">Casa Civil</button>
            <div class="panel">
              {%for questao in questoes%} 
              {%if questao.area_interesse.id == 2  %}
                <p><a href="{{questao.link}}" target="_blank">{{questao.descricao}}</a></p>
              {% endif %}
              {% endfor %}       
            </div>

            <button class="accordion">Detran</button>
            <div class="panel">
              {%for questao in questoes%} 
              {%if questao.area_interesse.id == 3 %}
                <p><a href="{{questao.link}}" target="_blank">{{questao.descricao}}</a></p>
              {% endif %}
              {% endfor %}       
            </div>


            <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            
            for (i = 0; i < acc.length; i++) {
              acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                  panel.style.display = "none";
                } else {
                  panel.style.display = "block";
                }
              });
            }
            </script>
  </div>
  <div class="left-article">
    {% for novidade in novidades%}
    <h4><p class="thumbnail_align"><img src="{{novidade.imagem.url}}" style="width: 320x; height:180px ;"></p></h4>
    <h4>{{novidade.titulo}}</h4>
    <p>{{novidade.descricao}}</p>
    <p><a href="{{novidade.link}}">Saiba mais</a></p>
    {% endfor %}
  </div>
    </header>
    <div class="row blockDisplay"></div>
    <footer class="secondary_header footer">
    <div class="copyright">&copy;2021 - <strong>HACKATHON</strong> - FOCO NA CIÊNCIA</div>
  </footer>
</div>
{% endblock %}